<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{% if bike %}Edit Bike{% else %}Add Bike{% endif %}</title>
</head>
<body>
    <h1>{% if bike %}Edit Bike{% else %}Add Bike{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<pre>
    {{ form.cleaned_data }}
</pre>
</body>
</html>
